
hr {
  margin-bottom: 1rem;
}

h2 {
  padding: 0;
  margin: 3rem 0 0 0;
}

.container {
  width: 100%;
  margin-left: 5rem;
  padding-bottom: 8rem;
}

form {
  max-width: 300px;
}

demo-widget {
  display: block;
  margin-bottom: 3rem;
}
