.context-menu-area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2.4rem 0;
  width: 50%;
  height: 200px;
  border: 3px dashed #bfbfbf;
  background-color: #f2f2f2;
  border-radius: 4px
}
