<demo-widget
  [title]="'Basic usage'"
  [codeSnippets]="[
    'pages/tooltip/examples/basic-usage/basic-usage.component.ts',
    'pages/tooltip/examples/basic-usage/basic-usage.component.html'
  ]"
>
  <div class="example">
    <tooltip-basic-usage-example></tooltip-basic-usage-example>
  </div>
</demo-widget>

<demo-widget
  [title]="'Tooltip with template content'"
  [codeSnippets]="[
    'pages/tooltip/examples/template/template.component.ts',
    'pages/tooltip/examples/template/template.component.html'
  ]"
>
  <div class="example">
    <tooltip-template-example></tooltip-template-example>
  </div>
</demo-widget>
