<demo-widget
  [title]="'Basic usage'"
  [codeSnippets]="[
    'pages/menu/examples/basic-usage/basic-usage.component.ts',
    'pages/menu/examples/basic-usage/basic-usage.component.html'
  ]"
>
  <div class="example">
    <menu-basic-usage-example></menu-basic-usage-example>
  </div>
</demo-widget>

<demo-widget
  [title]="'Nested menu'"
  [codeSnippets]="[
    'pages/menu/examples/nested-menu/nested-menu.component.ts',
    'pages/menu/examples/nested-menu/nested-menu.component.html'
  ]"
>
  <div class="example">
    <nested-menu-example></nested-menu-example>
  </div>
</demo-widget>

<demo-widget
  [title]="'Context menu'"
  [codeSnippets]="[
    'pages/menu/examples/context-menu/context-menu.component.ts',
    'pages/menu/examples/context-menu/context-menu.component.html'
  ]"
>
  <div class="example">
    <context-menu-example></context-menu-example>
  </div>
</demo-widget>
