/* You can add global styles to this file, and also import other style files */

@import "~highlight.js/scss/docco";

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: rgba(0,0,0,.85);
}

body {
  background-color: #fafafa;
}

main {
  margin-top: 3rem;
  padding: 0 2rem;
}
