.wrapper {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  height: 80px;
  z-index: 20;
  position: relative;
  box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
  border-bottom: 1px solid #d4dadf;
  background-color: #fff;
}

.logo {
  display: flex;
  align-items: center;

  h1 {
    margin: 0 0 0 .4rem;
    font-size: 1.6rem;
    font-weight: normal;
  }
}
