<demo-widget
  [title]="'Basic'"
  [codeSnippets]="[
    'pages/basic/examples/basic-usage/basic-usage.component.ts',
    'pages/basic/examples/basic-usage/basic-usage.component.html'
  ]"
>
  <div example>
    <basic-usage-example></basic-usage-example>
  </div>
  <div content>This is basic popover usage.</div>
</demo-widget>

<demo-widget
  [title]="'Hover trigger'"
  [codeSnippets]="[
    'pages/basic/examples/hover/hover.component.ts',
    'pages/basic/examples/hover/hover.component.html'
  ]"
>
  <div example>
    <hover-example></hover-example>
  </div>
  <div content>This is popover triggered by hover event.</div>
</demo-widget>

<demo-widget
  [title]="'Manual trigger'"
  [codeSnippets]="[
    'pages/basic/examples/manual/manual.component.ts',
    'pages/basic/examples/manual/manual.component.html'
  ]"
>
  <div example>
    <manual-example></manual-example>
  </div>
  <div content>This is popover triggered by manual event. </div>
</demo-widget>
