<demo-widget
  [title]="'Basic'"
  [codeSnippets]="[
    'pages/basic/examples/basic-usage/basic-usage.component.ts',
    'pages/basic/examples/basic-usage/basic-usage.component.html'
  ]"
>
  <div class="example">
    <basic-usage-example></basic-usage-example>
  </div>
</demo-widget>

<demo-widget
  [title]="'Custom position'"
  [codeSnippets]="[
    'pages/basic/examples/custom-position/custom-position.component.ts',
    'pages/basic/examples/custom-position/custom-position.component.html'
  ]"
>
  <div class="example">
    <custom-position-example></custom-position-example>
  </div>
</demo-widget>

<demo-widget
  [title]="'Hover trigger'"
  [codeSnippets]="[
    'pages/basic/examples/hover/hover.component.ts',
    'pages/basic/examples/hover/hover.component.html'
  ]"
>
  <div class="example">
    <hover-example></hover-example>
  </div>
  <p>This is popover triggered by hover event.</p>
</demo-widget>

<demo-widget
  [title]="'Manual trigger'"
  [codeSnippets]="[
    'pages/basic/examples/manual/manual.component.ts',
    'pages/basic/examples/manual/manual.component.html'
  ]"
>
  <div class="example">
    <manual-example></manual-example>
  </div>
  <p>This is popover triggered by manual event.</p>
</demo-widget>
