<div class="wrapper" [hidden]="!show">
  <div class="title">
    <h2>{{ title }}</h2>
    <div class="code" (click)="toggleCode()">
      code <img src="https://gw.alipayobjects.com/zos/antfincdn/Z5c7kzvi30/expand.svg" alt="" />
    </div>
  </div>
  <div #content class="content">
    <div [hidden]="!showCode" class="snippets">
      <div class="tabs">
        <div
          *ngFor="let snippet of codeSnippets"
          class="tab"
          [ngClass]="{ 'tab--selected': selectedSnippet === snippet }"
          (click)="selectTab(snippet)"
        >
          <span>{{ getSnippetLabel(snippet) }}</span>
        </div>
      </div>
      <code-snippet
        *ngFor="let snippet of codeSnippets"
        [fromFile]="snippet"
        [hidden]="selectedSnippet !== snippet"
      ></code-snippet>
    </div>
    <ng-content select="[example]"></ng-content>
    <div *ngIf="showSeparator" class="separator"></div>
    <ng-content select="[content]"></ng-content>
  </div>
</div>
